  table{
            width: 600px;
            text-align: center;
        }
        .cell1{
            width: 20%;
        }
         .cell23{
            width: 40%;
        }

       
      .pozisn_table{
        text-align: center;
      }
        .table{
        text-align: center;
      }
      